<div class="container">
    <h2 class="text-center">Select Device</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let device of devices">
        <div class="card mb-4">
          <img [src]="device.images" class="card-img-top" alt="{{ device.device_name }}">
          <div class="card-body text-center">
            <h5 class="card-title">{{ device.device_name }}</h5>
            <p class="card-text">RAM: {{ device.ram }}</p>
            <p class="card-text">Storage: {{ device.storage }}</p>
            <p class="card-text"><strong>Price: ₹{{ device.price }}</strong></p>
            <button type="button" class="btn btn-primary" (click)="select(device)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngFor="let item of cart">you select the device is:<br>{{item|json}}</p>
  
