<h1 style="color:rgb(6, 128, 176);text-align: center;">Application For Managing Mobiles</h1>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav justify-content-end">
    <img src="assets/th (1).jpg" width="90" height="40">
    <li class="nav-item">
      <button class="nav-link" routerLink="/home">Home</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" routerLink="/add">Add Items</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" routerLink="/view">View Items</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" routerLink="/about">About</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
